.card__icon{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;




}

.card__item{
    width: 550px;
    margin-bottom:15px ;
    min-height: 400px;
    background-color: #192028;
    border-radius: 20px;
    cursor: pointer;
    transition:transform 0.3s ease;





.card__img{
    display: block;
    width: 100%;
    border-top-right-radius:  20px;
    border-top-left-radius:  20px;
    margin: 5px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

img{

    width: 100%;
    height: 100%;
    object-fit: cover;


}

    @media(max-width:970px){
        width: 700px;
        margin: 10px auto;
    }



}

.card__item:hover{
    position: relative;
   transform: translate(-3px, -3px);

}

.card__title{
    font-weight: 800;
    font-size: 18px;
    padding: 5px;
    color: #fff;
    margin: 10px 3px;
}

.card__text{
    color: #fff;
    padding: 10px;
    font-weight: 300;
}

.card__menu{
    display: flex;
    justify-content: space-between;
    margin: 10px ;
}


.icone__menu{
    display: flex;
    margin: 0 10px;

    .coment{
        margin: 0 0 0 20px;
    }

}

.card__avatar{
    display: flex;
    justify-content: center;
    align-items: center;

    .svg__icone{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span{
        font-size:15px;
        margin: 0 0 0 10px;
        color: #fff;

    }


}



