header{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    @media (max-width:650px) {
        flex-wrap: wrap;
    }
}

.header__left{
    display: flex;
    align-items: center;

    h1{
        margin-left: 20px;
        color: #fff;
    }


}

.header__right{
    display: flex;
    align-items: center;

    .button__click{

        background: transparent;
        font-weight: 700;
        color: #fff;
        padding: 5px;
        margin: 10px;
        font-size: 16px;
        transition: color 0.3s ease;


        &:hover{
        color: yellow;
        }


    }

    @media (max-width:450px) {
        flex-wrap: wrap;
    }


}