.footer__icone{
    border-top:1px solid #1f2d3d;
    height: 150px;
    margin: 50px 0 0 0;
}


.footer__left{
    margin-top: 40px;
    color: #FFF;

    .footer__title{
        font-weight: 800;
        margin: 5px 0;
    }

    .footer__text{
        font-weight: 400;
    }
}