
form{
       display: flex;
       justify-content: center;
}

.search__icone{
    margin-top: 50px;
    display: flex;
    align-items: center;

    .search__svg{
        position: relative;
        top: 1px;
        left: 40px;
    }


    .search__input{
        width: 1100px;
        height: 60px;
        border-radius: 45px;
        border: 3px solid #fff;
        outline: none;
        padding-left: 20px;
        background-color: #0e141b;
        color: #fff;
        padding: 0 60px;
        font-weight: 600;
        font-size: 18px;

        @media (max-width:550px) {
            width: 200px;
        }


    }

    .search__btn{
        margin-left: 10px;
        padding: 10px 25px;
        background-color: #2558fc;;
        outline: none;
        border: none;
        border-radius: 45px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;



    }



    ::placeholder{
        color: #fff;
        font-weight: 600;
        font-size: 16px;


    }
}
